@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme static {
  --font-sans: "Roboto", sans-serif;
  --font-logo: "InterVariable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /*--color-green-50: oklch(90.98% 0.04338 166.72);*/
  /*--color-green-100: oklch(88.46% 0.05417 166.29);*/
  /*--color-green-200: oklch(83.957% 0.07763 165.13);*/
  /*--color-green-300: oklch(79.343% 0.09927 163.52);*/
  /*--color-green-400: oklch(74.927% 0.11835 162.26);*/
  /*--color-green-500: oklch(70.253% 0.13197 160.37);*/
  /*--color-green-600: oklch(58.426% 0.10793 160.73);*/
  /*--color-green-700: oklch(45.657% 0.08188 161.06);*/
  /*--color-green-800: oklch(32.298% 0.05338 161.83);*/
  /*--color-green-900: oklch(17.276% 0.02184 161.78);*/
}

:root {
  --ui-bg: #fafafa;
  --ui-primary: oklch(26.99% .0096 235.05);
}

.dark {
  --ui-color-neutral-50:  #f4f5f6;
  --ui-color-neutral-100: #e6e7e9;
  --ui-color-neutral-200: #cbcdd1;
  --ui-color-neutral-300: #a1a4aa;
  --ui-color-neutral-400: #7a7e85;
  --ui-color-neutral-500: #5a5e66;
  --ui-color-neutral-600: #3f4248;
  --ui-color-neutral-700: #2a2d32;
  --ui-color-neutral-800: #15171a;
  --ui-color-neutral-900: #070707;
  --ui-color-neutral-950: #030303;

  --ui-bg: var(--ui-color-neutral-900);
  --ui-primary: var(--ui-color-neutral-100);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--ui-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--ui-color-neutral-200);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--ui-color-neutral-100);
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
}
