@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme static {
    --font-sans: "Lora", serif;
    --font-logo: "Bitter", serif;

    --color-green-50: oklch(90.98% 0.04338 166.72);
    --color-green-100: oklch(88.46% 0.05417 166.29);
    --color-green-200: oklch(83.957% 0.07763 165.13);
    --color-green-300: oklch(79.343% 0.09927 163.52);
    --color-green-400: oklch(74.927% 0.11835 162.26);
    --color-green-500: oklch(70.253% 0.13197 160.37);
    --color-green-600: oklch(58.426% 0.10793 160.73);
    --color-green-700: oklch(45.657% 0.08188 161.06);
    --color-green-800: oklch(32.298% 0.05338 161.83);
    --color-green-900: oklch(17.276% 0.02184 161.78);

    --color-mauve-50: oklch(98.5% 0 0);
    --color-mauve-100: oklch(96% .003 325.6);
    --color-mauve-200: oklch(92.2% .005 325.62);
    --color-mauve-300: oklch(86.5% .012 325.68);
    --color-mauve-400: oklch(71.1% .019 323.02);
    --color-mauve-500: oklch(54.2% .034 322.5);
    --color-mauve-600: oklch(43.5% .029 321.78);
    --color-mauve-700: oklch(36.4% .029 323.89);
    --color-mauve-800: oklch(26.3% .024 320.12);
    --color-mauve-900: oklch(21.2% .019 322.12);
    --color-mauve-950: oklch(14.5% .008 326);

    --color-olive-50: oklch(98.8% .003 106.5);
    --color-olive-100: oklch(96.6% .005 106.5);
    --color-olive-200: oklch(93% .007 106.5);
    --color-olive-300: oklch(88% .011 106.6);
    --color-olive-400: oklch(73.7% .021 106.9);
    --color-olive-500: oklch(58% .031 107.3);
    --color-olive-600: oklch(46.6% .025 107.3);
    --color-olive-700: oklch(39.4% .023 107.4);
    --color-olive-800: oklch(28.6% .016 107.4);
    --color-olive-900: oklch(22.8% .013 107.4);
    --color-olive-950: oklch(15.3% .006 107.1);

    --color-mist-50: oklch(98.7% .002 197.1);
    --color-mist-100: oklch(96.3% .002 197.1);
    --color-mist-200: oklch(92.5% .005 214.3);
    --color-mist-300: oklch(87.2% .007 219.6);
    --color-mist-400: oklch(72.3% .014 214.4);
    --color-mist-500: oklch(56% .021 213.5);
    --color-mist-600: oklch(45% .017 213.2);
    --color-mist-700: oklch(37.8% .015 216);
    --color-mist-800: oklch(27.5% .011 216.9);
    --color-mist-900: oklch(21.8% .008 223.9);
    --color-mist-950: oklch(14.8% .004 228.8);

    --color-taupe-50: oklch(98.6% .002 67.8);
    --color-taupe-100: oklch(96% .002 17.2);
    --color-taupe-200: oklch(92.2% .005 34.3);
    --color-taupe-300: oklch(86.8% .007 39.5);
    --color-taupe-400: oklch(71.4% .014 41.2);
    --color-taupe-500: oklch(54.7% .021 43.1);
    --color-taupe-600: oklch(43.8% .017 39.3);
    --color-taupe-700: oklch(36.7% .016 35.7);
    --color-taupe-800: oklch(26.8% .011 36.5);
    --color-taupe-900: oklch(21.4% .009 43.1);
    --color-taupe-950: oklch(14.7% .004 49.3);
}

:root {
    /*noinspection CssUnresolvedCustomProperty*/
    --ui-primary: var(--ui-color-neutral-900);
}

.dark {
    /*noinspection CssUnresolvedCustomProperty*/
    --ui-primary: var(--ui-color-neutral-100);
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-track {
    background: var(--ui-bg);
}

::-webkit-scrollbar-thumb {
    /*noinspection CssUnresolvedCustomProperty*/
    background: var(--ui-color-neutral-300);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    /*noinspection CssUnresolvedCustomProperty*/
    background: var(--ui-color-neutral-100);
}

.scrollbar-4px::-webkit-scrollbar {
    width: 4px;
}